.home-page {
    display: flex;
    flex-flow: column;
    
    padding: 1rem;
}

.home-page h1 {
    font-size: 2rem;
    align-self: center;
    margin: 1rem auto;
}

.home-page p {
    font-size: 1.4rem;
    line-height: 1.4;
    text-justify: distribute;
}