.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-items: center;
    padding: 10px;
    overflow-y: scroll;
}

.item-card {
    width: 45%;
    display: flex;
    flex-basis: 48%;
    flex-flow: column;
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 3px lightslategray;
    display: flex;
    width: inherit;
    height: fit-content;
}

.item-card:hover {
    filter: brightness(1.13);
}

.item-image {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.item-card-info {
    align-self: flex-end;
    background-color: aliceblue; 
    border-radius: 0 0 20px 20px;
    padding: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 2fr;
}

.item-card-info p {
    align-self: center;
}

.item-title {
    padding-left: 0.5ch;
    padding-right: 0.5ch;
    font-size: 14px;
}

.item-price {
    align-self: center;
}