* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
}

body {
  background-color: rgb(251 251 251);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100vh;
}

header {
  /* position: fixed;
  top: 0; */
  grid-area: header;
  min-height: 60px;
  background-color: white;
  padding: 10px;
}

header input[name="name"] {
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 5px;
}

header button.chip {
  margin: 2px;
  z-index: 2;
}

header button.chip.active {
  background-color: rgb(252, 231, 98);
  margin: 2px;
  z-index: 2;
}

main {
  grid-area: main;
  overflow-y: scroll;
  max-height: 75vh;
}

main.free-height {
  max-height: none;
}

footer {
  background-color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  grid-area: footer;
}

footer .menu-wrapper {
  background-color: rgb(176, 218, 241);
  border-radius: 30px;
  border: 1px solid darkgray;
  height: 100%;
}

footer .menu-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

footer .menu-wrapper button {
  border-radius: 40%;
  width: 36px;
  height: 36px;
}

.chip {
  border-radius: 10px;
  color: black;
  padding: 6px 12px;
}

.avatar {
  width: 100%;
  height: 100%;
  min-width: 24px;
  min-height: 24px;
  border-radius: 100%;
}

/* Loader Styles */
.spinner {
  border: 5px solid rgba(100, 149, 237, .15);
  border-left-color: cornflowerblue;
  border-radius: 100%;
  background-color: transparent;
  align-self: center;
  justify-self: center;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite forwards;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}